
<form action="<%= bands_url %>" method="post">
    <label>Band Name:
        <input type="text" name="band[name]">
    </label>
    <br />

    <input style="background-color: orange;" type="submit" value="Create Band">
</form> 