<h1>
<%= @track.title %>
</h1>

<a href="<%= edit_track_url(@track)%>">Edit Track</a>
<form action="<%= track_url(@track) %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Track">
</form>