
<form action="<%= users_url %>" method="post">
    <label>Email:
        <input type="text" name="user[email]">
    </label>
    <br />

    <label>Password:
        <input type="password" name="user[password]">
    </label>
    <br />

    <input style="background-color: orange;" type="submit" value="Create User">
</form> 